:root {
  --color1: #424242;
  --color2: #D7D7D7;
  --marsRed: #814841;
}

body {
  margin: 0;
  font-family: 'Titillium Web';
}

.wrapper {
  display: flex;
}

#flash {
  position: absolute;
  opacity: 0;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(186, 218, 85, 0.85);
  width: 80%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  border: 2px solid #809833;
  transition: all 0.4s cubic-bezier(0, 1.34, 0.82, 1.23);
}

/* ---------- Control Styles ---------- */
.control {
  flex: 1;
  height: 100%;
  min-height: 100vh;
  background-color: var(--color2);
  color: var(--color1);
  padding: 20px 50px;
}

.title {
  border-bottom: 2px solid var(--color1);
}

.buy {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

button {
  color: var(--color2);
  background-color: var(--marsRed);
  border: 2px solid var(--color1);
  padding: 10px;
  width: 100%;
  height: 60px;
}

button:hover {
  background-color: var(--color1);
  border-color: var(--marsRed);
}

.tooltip {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  min-width: 100px;
}

.tooltipText {
  visibility: hidden;
  opacity: 0;
  width: calc(100% - 10px);
  background-color: var(--color1);
  color: var(--color2);
  text-align: center;
  z-index: 1;
  padding: 7px 5px;
  transition: opacity 0.8s;
}

.tooltip:hover > .tooltipText{
  visibility: visible;
  opacity: 0.7;
}

.locked {
  visibility: hidden;
}


/* ---------- Console Styles ---------- */
.console {
  flex: 1;
  height: 100%;
  min-height: 100vh;
  background-color: var(--color1);
  color: var(--color2);
  padding: 20px 50px;
}

.resources {
  display: flex;
  align-items: flex-start;
}

.res {
  text-align: center;
  line-height: 0.65em;
}

.res .tooltipText {
  background-color: var(--color2);
  color: var(--marsRed);
  margin-top: 10px;
  line-height: 1.3em;
}

#mars {
  width: 75px;
  filter: filter(100%);
  transition: all 12s;
}

.events {
  background-color: #282828;
  font-family: 'Source Sans Pro';
  margin-top: 60px;
  height: 60vh;
}

.titleBar {
  background-color: var(--marsRed);
  display: flex;
  justify-content: space-between;
  height: 25px;
}

.titleBar > * {
  margin: 1px 10px;
}

#consoleText {
  height: calc(100% - 25px);
  padding: 0 10px;
  overflow-y: scroll;
}

#consoleText p {
  padding-left: 10px;
}
#consoleText p::first-letter {
  color: var(--marsRed);
}

.nonMobile {
  visibility: hidden;
  position: fixed;
  background-color: var(--color2);
  color: var(--marsRed);
  text-align: center;
  padding-top: 100px;
  font-size: 2em;
  height: 100vh;
  width: 100%;
  z-index: 2;
}

.saveButtons {
  display: flex;
}

#save { flex: 3; }
#reset { flex: 1; }

@media only screen and (max-width: 700px) {
  .nonMobile { visibility: visible; }
}